.item {
    padding: 8px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;*/
    border-bottom: 1px solid #00ACB1;
    margin-bottom: 20px;
}



.item__input {
    background-color: rgba( 178, 222, 255, 0.10 );
    outline: none;
    border: none;
    color: #FA6526;
    padding: 5px;
    width: 100%;
    font-size: medium;
}

.item__title {
    width: 60%;
}

.item__title > h2{
    font-weight: bold;
    color: floralwhite;
}

.item__titleDone {
    text-decoration: line-through;
    color: #00c301;
}

.item__icons > .MuiSvgIcon-root {
    color: #5A5331;
}

.item__icons > .MuiSvgIcon-root:hover {
    color: #34F527;
}

.item__icons {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__icons > button{
    width: 30%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #359CB4;
    color: floralwhite;
}

.item__icons > button:hover {
    background-color: #FA6526;
}

@media only screen and (max-width: 1130px) {
    .item__icons {
        width: 40%;
    }
    .item__icons > button{
        padding: 2px;
    }
}