.filteredItem {
    padding: 8px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #B2DEFF;
}

.filteredItem__title {
    font-size: 10px;
    font-weight: normal;
    color: #dff2ff;
}

.filteredItem_icons > .MuiSvgIcon-root {
    color: #FF6B5F
}

.filteredItem_icons > .MuiSvgIcon-root:hover {
    color: #719DE2;
}