.app {
  width: 90%;
  margin-left: 5%;
  background-color: aliceblue;
  font-family: monospace;
  margin-top: 20px;
  overflow: auto;
  padding: 15px;
  border-radius: 20px;
}

.app__content {
  margin: 5px;
}

.app__calendar  {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: rgba( 178, 222, 255, 0.10 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.app__calendar__dataPicker {
  text-align: right;
}

.app__calendar__form {
  margin-top: 20px;
}

.app__calendar__formTag {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.app__calendar__formTag> input {
  width: 78%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.app__calendar__formTag > button {
  width: 20%;
  padding: 5px;
  border: none;
  outline:none;
  border-radius: 20px;
  background-color: #359CB4;
  color: floralwhite;
  font-weight: bold;
}

.app__calendar__formTag > button:hover {
  background-color: #FA6526;
  color: floralwhite;
}

.app__todos {
  display:flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__todos__list {
  flex: 1;
  height: 400px;
  margin-bottom: 15px;
}

.app__todos__list > h2 {
  color: #FA6526;
  text-align: center;
  margin-bottom: 10px;
}

