.banner {
    width: 100%;
    height: 60%;
    display: flex;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #719DE2;
}

.banner__left {
    flex: 0.5;
}

.banner__left > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner__right {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-align: center;
}

.banner__right > h2 {
    font-size: 64px;
    color: #FFFFFF;
    letter-spacing: 4px;
    font-family: fantasy;
}